body {
    font-family: sans-serif;
    background: #f8f8f8;
    padding: 40px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #2980b9;
}

#promoArea {
    margin-top: 20px;
    font-size: 18px;
}